<div class="app-wrapper">
  <div class="button" (click)="refresh()">
    <img src="http://www.myiconfinder.com/uploads/iconsets/128-128-76912453c14fc15ed016df244ce34b54.png" width="50" height="50"
      alt="refresh" />
  </div>
  <ul>
    <app-news-block *ngFor="let title of titles" [title]=title></app-news-block>
  </ul>
  <div class="container">
    <div class="text-center">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)" class="str-buttons">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)" class="str-buttons">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-button">
          <a (click)="setPage(page, pagesAmount)">{{ page }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)" class="str-buttons">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pagesAmount, pagesAmount)" class="str-buttons">Last</a>
        </li>
      </ul>
      <div class="input">
        <label for="input">Page&nbsp;
          <input name="input" id="input-page" type="number" min="1" [max]="pagesAmount" [(ngModel)]="value" (ngModelChange)="value = $event; setPage($event, pagesAmount)"
          /> &nbsp;of {{ pagesAmount }} </label>
      </div>
    </div>
  </div>
</div>