body {
    margin:0;
}

header {
    height: 120px;
    background-color: #b70b39;
    width: 100%;
}

.title {
    width: 70%;
    position: relative;
    margin: auto;
    height: 120px;
}

h2 {
    margin: auto;
    width: 70%;
    color: wheat;
    font-size: 36px;
    padding-top: 39px;
    text-align: center;
}

a {
    float: left;
    margin-top: 10px;
}

img {
    width: 100px;
    height: 100px  
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 26px;
        margin-right: 10px;
    }

    .title {
        width: 95%;
        position: relative;
        margin: auto;
        height: 120px;
    }
  }